.Rproj.user
.Rhistory
.RData
.Ruserdata
Data
V1T2R2-Ab-mip.ndmask_cellsam.tif
classes.txt
overlay_for_threshold_test.png
sam_vit_h_4b8939.pth
single_stomata_internal.pt
yolo_maize.zip
write-test-4e926f2d-82a5-48fd-aa06-d15a8653ce23
polys.rda
